@using CarCatalog.Core.ViewModels.Home;
@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Boutique | Ecommerce bootstrap template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- gLightbox gallery-->
    <link rel="stylesheet" href="/vendor/glightbox/css/glightbox.min.css">
    <!-- Range slider-->
    <link rel="stylesheet" href="/vendor/nouislider/nouislider.min.css">
    <!-- Choices CSS-->
    <link rel="stylesheet" href="/vendor/choices.js/public/assets/styles/choices.min.css">
    <!-- Swiper slider-->
    <link rel="stylesheet" href="/vendor/swiper/swiper-bundle.min.css">
    <!-- Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;800&amp;display=swap">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/img/favicon.png">
</head>
<body>
    <div class="page-holder">
        <div class="container">
            <!-- HERO SECTION-->
            <section class="hero pb-3 bg-cover bg-center d-flex align-items-center" width=100px style="background: url(img/hero-banner-alt.jpg)">
                <div class="container py-5">
                    <div class="row px-4 px-lg-5">
                        <div class="row">
                            <p class="text-muted small text-uppercase mb-2"></p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-5">
                <div class="container p-0">
                    <div class="row">
                        <div class="col-lg-9 order-1 order-lg-2 mb-5 mb-lg-0">
                            <header>
                                <h2 class="h5 text-uppercase mb-4">Top CARS</h2>
                            </header>
                            <div class="row">
                                @foreach (var item in Model.RandomCars)
                                {
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="product text-center">
                                            <div class="mb-3 position-relative">
                                                <div class="badge text-white bg-"></div><a class="d-block" asp-action="GetCarById" asp-controller="Car" asp-route-id="@item.Id">
                                                    <img class="img-fluid w-100" src="@item.CoverPhoto" alt="@item.CarBrand">
                                                </a>
                                            </div>
                                            <h6> <a class="reset-anchor">@item.CarBrand</a></h6>
                                            <h6> <a class="reset-anchor">@item.CarModel</a></h6>
                                            <p class="small text-muted">@item.Year</p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
            </section>
        </div>
        <!-- JavaScript files-->
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="/vendor/nouislider/nouislider.min.js"></script>
        <script src="/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="/vendor/choices.js/public/assets/scripts/choices.min.js"></script>
        <script src="/js/front.js"></script>
        <!-- Nouislider Config-->
        <script>
            var range = document.getElementById('range');
            noUiSlider.create(range, {
                range: {
                    'min': 0,
                    'max': 2000
                },
                step: 5,
                start: [100, 1000],
                margin: 300,
                connect: true,
                direction: 'ltr',
                orientation: 'horizontal',
                behaviour: 'tap-drag',
                tooltips: true,
                format: {
                    to: function (value) {
                        return '$' + value;
                    },
                    from: function (value) {
                        return value.replace('', '');
                    }
                }
            });

        </script>
        <script>
            // ------------------------------------------------------- //
            //   Inject SVG Sprite -
            //   see more here
            //   https://css-tricks.com/ajaxing-svg-sprite/
            // ------------------------------------------------------ //
            function injectSvgSprite(path) {

                var ajax = new XMLHttpRequest();
                ajax.open("GET", path, true);
                ajax.send();
                ajax.onload = function (e) {
                    var div = document.createElement("div");
                    div.className = 'd-none';
                    div.innerHTML = ajax.responseText;
                    document.body.insertBefore(div, document.body.childNodes[0]);
                }
            }
            // this is set to BootstrapTemple website as you cannot
            // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
            // while using file:// protocol
            // pls don't forget to change to your domain :)
            injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg');

        </script>
        <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </div>
</body>
</html>

