@using CarCatalog.Core.ViewModels.Car;
@model CarViewModel




<h2 style="color: white">@ViewData["Title"]</h2>

<div class="align-content-center">

    <div class="row col-md-4 offset-4">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="CarBrand"></label>
                <input asp-for="CarBrand" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CarModel"></label>
                <input asp-for="CarModel" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Year"></label>
                <input asp-for="Year" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="HorsePower"></label>
                <input asp-for="HorsePower" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="FuelType"></label>
                <input asp-for="FuelType" class="form-control" />
            </div>
            <div class="form-group">
                <label for="TransmisionType">Transmision</label>
                <select id="TransmisionType" class="form-control" asp-for="TransmisionType">
                    <option selected disabled>Select a Transmision</option>
                    @foreach (var transmision in (IEnumerable<CarViewModel>)this.ViewData["transmisions"])
                    {
                        <option value="@transmision.TransmisionType">@transmision.TransmisionType</option>
                    }
                </select>
                <span asp-validation-for="TransmisionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="TransmisionType">Gears</label>
                <select id="TransmisionType" class="form-control" asp-for="Gears">
                    <option selected disabled>Select a Gears</option>
                    @foreach (var transmision in (IEnumerable<CarViewModel>)this.ViewData["transmisions"])
                    {
                        <option value="@transmision.Gears">@transmision.Gears</option>
                    }
                </select>
                <span asp-validation-for="TransmisionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="BodyType">BodyType</label>
                <select id="BodyType" class="form-control" asp-for="BodyTypeName">
                    <option selected disabled>Select a BodyType</option>
                    @foreach (var bodyType in (IEnumerable<CarViewModel>)this.ViewData["bodyTypes"])
                    {
                        <option value="@bodyType.BodyTypeName">@bodyType.BodyTypeName</option>
                    }
                </select>
                <span asp-validation-for="BodyTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="BodyType">Doors</label>
                <select id="BodyType" class="form-control" asp-for="Doors">
                    <option selected disabled>Select a Doors</option>
                    @foreach (var bodyType in (IEnumerable<CarViewModel>)this.ViewData["bodyTypes"])
                    {
                        <option value="@bodyType.Doors">@bodyType.Doors</option>
                    }
                </select>
                <span asp-validation-for="BodyTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GalleryFiles"></label>
                <input asp-for="GalleryFiles" class="form-control" />
                <span asp-validation-for="GalleryFiles" class="text-danger"></span>
            </div>

            @foreach (var item in Model.Gallery)
            {
                <img width="400px" src="@item.URL" alt="@item.Name">
                <a asp-action="DeleteImage" asp-controller="Image" asp-route-id="@item.ImageId" asp-route-productId="@item.CarId" class="btn btn-danger">Delete</a>
            }
            <div class="d-flex justify-content-center mt-3">
                <button class="btn btn-primary font-weight-bold">Edit</button>
            </div>
        </form>
    </div>
</div>
